@keyframes carregar{
    0%{
        opacity: 0;
        transform: translatey(0,0,0);
    }

    50%{
        opacity: 1;
        transform: translatey(-20vh);
    }

    70%{
        opacity: 1;
    }

    100%{
        opacity: 1;
        transform: translatey(20vh);
    }
}